body {
    background: #87cfe6;
    font-family: futura;
}

h1 {
    text-align: center;
}

#main-container {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
}



#main-container nav {
    width: 200px;
    float: left;
}

#main-container nav ul {
    list-style-type: none;
    margin: 0;
}

#main-container nav li {
    margin: 0;
    padding: 0;
}

#main-container nav ul a {
    display: block;
    text-decoration: none;
    color: black;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 6px;
    padding: 8px;
}


#main-container nav ul a:hover {
    background: #ddd;
}

#main-container nav ul a:visited {
    color: black;
}

#main-container #content {
    width: 600px;
    height: 600px;
    float: left;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

#main-container section {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 560px;
    padding: 20px;
    left: 600px;
}

#main-container section.active {
    /*-webkit-transition: left 0.2s ease;*/
    transition: left 0.2s ease;
    left: 0px;
}

#main-container section.hidden {
    left: 600px;
}
